<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.housing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Activity.HbApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@drawable/home"
        android:supportsRtl="true"
        android:theme="@style/Theme.Housing"
        tools:targetApi="31">
        <activity
            android:name=".Activity.FullImagerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditRentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditBuildingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DueActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateRentalActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MobileAuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PhoneAuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ShowPortionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AssignTenantsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateBuildingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MembersActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateTenantActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreatePortionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>